import type { TDatabase } from '@core/database/db.type';
import { traceDbOp } from '@core/database/utils/trace-db-op.util';
import { type ITracer, OTEL_TRACER } from '@core/tracer';
import { Inject, Injectable } from '@nestjs/common';

@Injectable()
export class DrizzleMyRepository {
  constructor(
    @Inject(DB) private readonly db: TDatabase,
    @Inject(OTEL_TRACER) private readonly tracer: ITracer
  ) { }

  async findById(id: string): Promise<any | null> {
    return traceDbOp(
      this.tracer,
      'db.table_name.findById',
      { 'db.table': 'table_name', 'db.operation': 'select' },
      async () => {
        // Database operation here
      }
    );
  }
}
